*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


.idea
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/SmartCommute.iml
/gradle
/.idea/cashes/build_file_checksums.ser