*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


.idea
build.gardle
gardle.properties
gardlew
gardlew.bat
local.properties
settings.gardle
SmartCommute.iml
